@if (user?.role === 'admin') {
  <button type="button" class="back-btn" (click)="toggleAdminGroups()">
    <i class="bi bi-chevron-left"></i>
  </button>
<button type="button" (click)="toggleAdminGroups()">My admin groups</button>

}

<div class="row">
  <!-- Display groups that are managed by admin user -->
  @if (showAdminGroups) {
    @for (group of adminGroups; track group.id) {
      <div class="col-md-12 mb-12">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <div class ="d-flex justify-content-between">
              <h5 class="card-title mb-1">{{group.groupname}}</h5>
              <div style="gap: 10px; display: flex;">
                  <button class="btn p-0" style="color: green;" type="button" (click)="toggleEditGroup(group)">
                    <i class="bi bi-pencil-fill fs-6"></i>
                  </button>
                  <button class="btn text-danger p-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteGroupModal" type="button" (click)="openDeleteGroupModal(group)">
                    <i class="bi bi-x fs-5"></i>
                  </button>
              </div>
            </div>
            <p class="card-text mb-2">{{group.description}}</p>
            <!-- button for admin to edit group  -->
            @if (showEdit[group.id]){
              <div class="add-pop mt-2">
                <input class="form-control me-2" style="font-size: 13px" type="text" placeholder="New group name" 
                [(ngModel)]="newGroupName[group.id]" name="newGroupName{{group.id}}" />
                <button class="btn btn-sm btn-outline-secondary" style="font-size:x-small; background-color:#b7e4c7; color: black;" type="button" (click)="editGroup(group, $event)">Confirm</button>
                <button class="btn btn-sm ms-2" style="font-size:x-small;" type="button" (click)="toggleEditGroup(group)">Cancel</button>
              </div>
            }
            
            <p class="text-secondary small mb-2 text-end">Created by: {{group.createdBy ? userById[group.createdBy] : 'unknown'}}</p>
            <div class="channels text-muted small">
                <label class="form-label fs-6 text-muted">Channels:</label><br> 
                @for (channel of group.channels; track channel.id) {
                    <li class="d-flex justify-content-between align-items-center border-bottom py-1 small text-muted">
                      {{channel.channelname}}   
                      <!-- Button for admin to delete channel -->
                      @if (user?.role === 'super' || user?.role === 'admin') {
                        <button 
                          class="btn btn-link text-danger p-0" type="button"
                          data-bs-toggle="modal" 
                          data-bs-target="#confirmDeleteChannelModal" 
                          (click)="openDeleteChannelModal(channel)">
                          <i class="bi bi-x-square fs-6"></i>
                        </button>
                      }
                  </li>
                }
            </div>

            <!--Button for admin to add channel -->
            <div class="d-flex justify-content-end m-2">
              @if (user?.role === 'admin') {
                <button type="button" class="add-btn" (click)="toggleAddChannel(group)">
                  <span>Channel</span>
                  <span class="add-circle"><i class="bi bi-plus-lg"></i></span>
                </button>
              }
            </div>

            @if (showAdd[group.id]){
              <div class="add-pop mt-2">
                <input class="form-control me-2" style="font-size: 13px" type="text" placeholder="New channel name" 
                [(ngModel)]="newChannelName[group.id]" name="newChannelName{{group.id}}" />
                <button class="btn btn-sm btn-outline-secondary" style="font-size:x-small; background-color:#b7e4c7; color: black;" type="button" (click)="confirmAddChannel(group, $event)">Confirm</button>
                <button class="btn btn-sm ms-2" style="font-size:x-small;" type="button" (click)="toggleAddChannel(group)">Cancel</button>
              </div>
            }
          </div>  
        </div>
      </div>
    }
  }
  <!-- Display all groups for super and chatusers -->
  @else {
    @for (group of groups; track group.id) {
      <div class="col-md-12 mb-12">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <div class ="d-flex justify-content-between">
              <h5 class="card-title mb-1">{{group.groupname}}</h5>
              <div style="gap: 10px; display: flex;">
                @if (user?.role === 'super') {
                  <button class="btn p-0" style="color: green;" type="button" (click)="toggleEditGroup(group)">
                    <i class="bi bi-pencil-fill fs-6"></i>
                  </button>
                  <button class="btn text-danger p-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteGroupModal" type="button" (click)="openDeleteGroupModal(group)">
                    <i class="bi bi-x fs-5"></i>
                  </button>
                }

                <!-- If user is already a member of the group, show check icon, otherwise show heart icon -->
                @if (user?.groups?.includes(group.id)) {
                    <i class="bi bi-person-check-fill" aria-hidden="true"></i>
               
                } @else {
                  <button class="btn p-0" style="color: #ef233c; border: none;" type="button" 
                          [disabled]="applyPending[(group.id)]"
                          (click)="applyToJoinGroup(group, $event)">
                    <i class="bi fs-6" 
                      [ngClass]="{
                        'bi-suit-heart-fill': !applyPending[(group.id)],
                        'bi-hourglass-split': applyPending[(group.id)]
                      }"
                      [style.color]="applyPending[(group.id)] ? '#f59f00' : '#ef233c'"></i>
                  </button>
                }
              </div>
              
            </div>
            <p class="card-text mb-2">{{group.description}}</p>
            <!-- button for admin to edit group  -->
            @if (showEdit[group.id]){
              <div class="add-pop mt-2">
                <input class="form-control me-2" style="font-size: 13px" type="text" placeholder="New group name" 
                [(ngModel)]="newGroupName[group.id]" name="newGroupName{{group.id}}" />
                <button class="btn btn-sm btn-outline-secondary" style="font-size:x-small; background-color:#b7e4c7; color: black;" type="button" (click)="editGroup(group, $event)">Confirm</button>
                <button class="btn btn-sm ms-2" style="font-size:x-small;" type="button" (click)="toggleEditGroup(group)">Cancel</button>
              </div>
            }
            <p class="text-secondary small mb-2 text-end">Created by: {{group.createdBy ? userById[group.createdBy] : 'unknown'}}</p>
            <div class="channels text-muted small">
                <label class="form-label fs-6 text-muted">Channels:</label><br> 
                @for (channel of group.channels; track channel.id) {
                    <li class="d-flex justify-content-between align-items-center border-bottom py-1 small text-muted">
                      {{channel.channelname}}
                      
                      <!-- Button for super to delete channel -->
                      @if (user?.role === 'super') {
                        <button 
                          class="btn btn-link text-danger p-0" type="button"
                          data-bs-toggle="modal" 
                          data-bs-target="#confirmDeleteChannelModal" 
                          (click)="openDeleteChannelModal(channel)">
                          <i class="bi bi-x-square fs-6"></i>
                        </button>
                      }
                  </li>
                }
            </div>

            <!--super/admin to add channel -->
            <div class="d-flex justify-content-end m-2">
              @if (user?.role === 'super') {
                <button type="button" class="add-btn" (click)="toggleAddChannel(group)">
                  <span>Channel</span>
                  <span class="add-circle"><i class="bi bi-plus-lg"></i></span>
                </button>
              }
            </div>

            @if (showAdd[group.id]){
              <div class="add-pop mt-2">
                <input class="form-control me-2" style="font-size: 13px" type="text" placeholder="New channel name" 
                [(ngModel)]="newChannelName[group.id]" name="newChannelName{{group.id}}" />
                <button class="btn btn-sm btn-outline-secondary" style="font-size:x-small; background-color:#b7e4c7; color: black;" type="button" (click)="confirmAddChannel(group, $event)">Confirm</button>
                <button class="btn btn-sm ms-2" style="font-size:x-small;" type="button" (click)="toggleAddChannel(group)">Cancel</button>
              </div>
            }
          </div>  
        </div>
      </div>
    }
  }
</div>

<!-- Delete confirmation modals for group -->
<div class="modal fade" id="confirmDeleteGroupModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body py-3">
        <p class="mb-0" id="confirmDeleteLabel">Are you sure you want to delete
          @if (selectedGroup) {
              <strong>Group: {{ selectedGroup.groupname }}</strong>?
          }
        </p>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="selectedGroup && deleteGroup(selectedGroup, $event)" data-bs-dismiss="modal">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
  
<!-- Delete confirmation modal for channel -->
<div class="modal fade" id="confirmDeleteChannelModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body py-3">
        <p class="mb-0" id="confirmDeleteLabel">Are you sure you want to delete
          @if (selectedChannel) {
              <strong>Channel: {{ selectedChannel.channelname }}</strong>?
          }
        </p>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="selectedChannel && deleteChannel(selectedChannel, $event)" data-bs-dismiss="modal">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>