<div>
    User name: {{user?.username}}
    Email: {{user?.email}}
    Role: {{user?.role}}
</div>
<div class="account-container">
    <div class="account-header">
      <div class="avatar">{{user?.username}}</div>
      <div>
        <div class="account-title">{{user?.username}}</div>
        <div style="color: #888;">{{user?.email}}</div>
      </div>
    </div>
    <div class="account-section">
      <div class="account-info">
        <label>Role:</label>
        <span class="roles-badge">{{user?.role}}</span>
      </div>
    </div>
    <div class="account-section">
      <div class="account-info">
        <label>Groups:</label>
      </div>
      <ul class="groups-list">
        @for (group of userGroups; track $index) {
            <li class="group-item">
            <span class="group-name">{{group.groupname}}</span>
            <span class="group-role">{{group.channels}}</span>
            </li>
        }
      </ul>
    </div>
  </div>