<nav class="navbar navbar-light bg-white flex-column align-items-start p-3"
     style="min-height:95vh; width: 90px; margin: 18px; margin-right: 0;">
    <div class="container-fluid flex-column align-items-start p-0"> 
        <span class="navbar-brand mb-3">CHAT</span>
            <ul class="navbar-nav flex-column w-120">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account">Account</a>
                </li>
            </ul>
    </div>
    <div>   
        <li class="nav-link"><a class="nav-link" routerLink="/account"><i class="bi bi-person-gear"></i></a></li>
    </div>
</nav>