<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th style="text-align: center; width: 20%;" scope="col">_EDIT_</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td>{{user.id}}</td>
            <td><button class="btn btn-m p-0" style="color:#023e8a;" type="button" (click)="navToAccount(user, $event)">{{user.username}}</button></td>
            <td style="font-size: small;">{{user.email}}</td>
            <td class="text-capitalize">{{user.role}}</td>
            
            <td class="position-relative text-center align-top">
                <div class="d-inline-flex gap-4">
                    <button class="btn btn-sm p-0" style="color: #40916c;" type="button">
                      alertuser
                    </button>
                    <button 
                      class="btn btn-sm text-danger p-0" 
                      data-bs-toggle="modal" 
                      data-bs-target="#confirmDeleteModal" 
                      type="button" 
                      (click)="openDeleteModal(user)">
                      <i class="bi bi-x-square"></i>
                    </button>
                </div>
            </td>
        </tr>
    } 
    </tbody>
</table>

<!-- Delete user confirmation modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body py-3">
          <p class="mb-0" id="confirmDeleteLabel">Are you sure you want to delete
            @if (selectedUser) {
                <strong>User: {{ selectedUser.username }}</strong>?
            }
          </p>
        </div>
        <div class="modal-footer py-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="selectedUser && confirmDelete(selectedUser, $event)" data-bs-dismiss="modal">
            Delete
          </button>
        </div>
      </div>
    </div>
</div>