@if (errMsg) {
  <div class="alert text-danger" style="font-size: small; padding: 0">*{{ errMsg }}</div>
}
<button type="button" class="btn px-1 py-1" (click)="sortUsers()">
  <i class="bi bi-arrow-down-up"></i>
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" style="width:28%;">Role</th>
            <th style="text-align: center;" scope="col">_ _</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td>{{user._id | slice: -2}}</td>
            <td>
              <button 
                  class="btn btn-m p-0" style="color:#023e8a;" type="button" 
                  (click)="toggleUserGroups(user)">
                  {{user.username}}
                  @if (user.valid === false) {
                    <i class="bi bi-ban" style="color: #ef233c; font-size: small;"></i>
                  }
                  
              </button>
            </td>
            <td style="font-size: medium;">{{user.email}}</td>
            <td class="text-capitalize"> </td>
            <td class="position-relative text-center align-top">
                <div class="d-inline-flex gap-4">
                    @if (userRole === 'admin') {
                      <button 
                        class="btn btn-m p-0" style="color: #40916c; border: none;" 
                        type="button"
                        [disabled]="user.valid === false"
                        data-bs-toggle="modal" 
                        data-bs-target="#confirmBanModal" 
                        (click)="openBanModal(user)">
                        <i class="bi bi-exclamation-triangle"
                          style="font-size:large"></i>
                      </button>
                    }
                </div>
            </td>
        </tr>
        <!-- Display user groups after clicking user name -->
        @if (showUserGroups[user._id]) {
          @for(group of userGroupsByUser[user._id]; track group._id) {
              <tr class="table-active">
                <td></td>
                <td colspan="2">
                  <i class="bi bi-folder2-open" style="color: #023e8a;"></i>
                  <span class="ms-2" style="font-size: small;">{{ group.groupname }}</span>
                </td>
                <td>
                  <button 
                    class="ms-auto roles-badge"
                    type="button" 
                    [attr.group-role]="roleByGroupByUser[user._id][group._id]"
                    (click)="toggleUpdateRole(group)">
                  {{roleByGroupByUser[user._id][group._id]}}
                  </button>
                  @if (showUpdateRole[group._id]) {
                    <div class="update-role-pop mt-2 gap-2 d-flex align-items-center">
                        <select 
                          class="form-select flex-grow-1" 
                          [(ngModel)]="newRole[user._id]" 
                          name="newRole{{user._id}}">
                            <option value="admin">Admin</option>
                            <option value="super">Super</option>
                        </select>
                        <button 
                          class="roles-badge--sm roles-badge--btn roles-badge--grey" 
                          data-bs-toggle="modal" 
                          data-bs-target="#confirmUpdateModal" 
                          type="button" 
                          (click)="openUpdateModal(user!, group)">
                          Update
                        </button>
                    </div>
                  }
                </td>
                <td class="text-center">
                  @if((userRole === 'admin' && roleByGroupByUser[user._id][group._id] === 'chatuser') || userRole === 'super') {
                  <button 
                      class="btn btn-m text-danger p-0" 
                      data-bs-toggle="modal" 
                      data-bs-target="#confirmRemoveModal" 
                      type="button" 
                      (click)="openRemoveModal(user, group)">
                      <i class="bi bi-person-x" style="font-size:large"></i>
                    </button>
                  }
                </td>
              </tr>
          }
        }
    } 
    </tbody>
</table>

<!-- Update user role confirmation modal -->
<div class="modal fade" id="confirmUpdateModal" tabindex="-1" aria-labelledby="confirmUpdateLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body py-3">
        <p class="mb-0" id="confirmUpdateLabel">
          Are you sure to update 
            @if (selectedUser) {
              <strong>User: {{ selectedUser.username }}</strong>?
            }
        </p>
      </div>
      <div class="modal-footer py-2">
        <button 
          type="button" 
          class="btn btn-sm btn-outline-secondary" 
          data-bs-dismiss="modal">
          Cancel
        </button>
        <button 
          type="button" 
          class="btn btn-sm btn-danger" 
          (click)="selectedUser && selectedGroup && updateRole(selectedUser, selectedGroup, $event)" 
          data-bs-dismiss="modal">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Ban user confirmation modal -->
<div class="modal fade" id="confirmBanModal" tabindex="-1" aria-labelledby="confirmBanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body py-3">
        <p class="mb-0" id="confirmBanLabel">Are you sure you ban
          @if (selectedUser) {
              <strong>User: {{ selectedUser.username }}</strong>?
          }
        </p>
      </div>
      <div class="modal-footer py-2">
        <button 
          type="button" 
          class="btn btn-sm btn-outline-secondary" 
          data-bs-dismiss="modal">
          Cancel
        </button>
        <button 
          type="button" 
          class="btn btn-sm btn-danger" 
          (click)="selectedUser && confirmBan(selectedUser, $event)" 
          data-bs-dismiss="modal">
          Ban
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Remove user from group confirmation modal -->
<div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body py-3">
          <p class="mb-0" id="confirmRemoveLabel">
            Are you sure to remove 
              @if (selectedUser) {
                <strong>User: {{ selectedUser.username }}</strong>?
              }
          </p>
        </div>
        <div class="modal-footer py-2">
          <button 
            type="button" 
            class="btn btn-sm btn-outline-secondary" 
            data-bs-dismiss="modal">
            Cancel
          </button>
          <button 
            type="button" 
            class="btn btn-sm btn-danger" 
            (click)="selectedUser && selectedGroup && confirmRemove(selectedUser, selectedGroup, $event)" 
            data-bs-dismiss="modal">
            Remove
          </button>
        </div>
      </div>
    </div>
</div>