<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th style="text-align: center;" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td>{{user.id}}</td>
            <td><button class="btn btn-m p-0" style="color:#023e8a;" type="button" (click)="navToAccount(user, $event)">{{user.username}}</button></td>
            <td style="font-size: small;">{{user.email}}</td>
            <td class="text-capitalize">{{user.role}}</td>
            
            <td style="text-align: center;">
                <select [(ngModel)]="user._pendingAction" (ngModelChange)="updateRole(user)" name="role{{user.id}}" style="padding: 5px; font-size: 13px;">
                    <option value="" disabled selcted>_UPDATE_</option>
                    <option value="admin" [disabled]="user.role==='admin'">Admin</option>
                    <option value="chatuser" [disabled]="user.role==='chatuser'">Chat User</option>
                    <option value="delete">Delete</option>
    
                </select>
            </td>
        </tr>
    } 
    </tbody>
</table>